body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, a.navbar-brand, .cv, .skills, 
.educat, .col-md-8, .col-md-3, .col-md-2, .publicat,
.lang, .indepcours, .addit  {

	font-family: 'Arimo', sans-serif, courier;

}

ul.nav, a.navbar-brand  {
font-size: 25px;
	}

.container {
	max-width: 1270px;
}

.cv {
	text-align: center;
	padding-top: 30px;
}

.cv h1 {
	color: #e67e22;
}

.cv h3 {
	padding-bottom: 30px;
}
.cv p {
	font-size: 18px;
	padding-bottom: 20px;
	margin-left: 70px;
	margin-right: 70px;
}
.col-md-8 h5, .col-md-8 h4, .col-md-8 ul, .col-md-8 a,
.col-md-3 h4, .disttext ul, .publictext {
	font-size: 16px;
}

.skills {
	padding-top: 12px;
	padding-bottom: 30px;
}

.educat2, .distinct, .addit, .lang {
	padding-bottom: 40px;
}

.indepcours {
	padding-bottom: 90px;
}

.publicat {
	padding-bottom: 20px;
}

.resexper, .resexper2, .resexper3, .resexper4 {
	padding-bottom: 10px;
}

.educat, .skills, .resexper {
	padding-top: 20px;
}

.distinct, .publicat, .addit, .lang, 
.indepcours {
	padding-top: 40px;
}

.resexper2, .resexper3, 
.resexper4 {
	padding-top: 30px;
}

#educrow {
	padding-left: 120px;
	padding-top: 20px;
}

#skillrow, .publictext, .disttext, #resrow, 
.addit, .lang, .indepcours {
	padding-top: 15px;
}

.resexper h4, .resexper2 h4, .resexper3 h4, .resexper ul, 
.resexper3 ul, .resexper4 h4, .resexper4 ul, .educat h4, 
.educat h5, .educat2 h4, .educat2 h5, .addit h4, 
.indepcours h4, .indepcours a {
	padding-left: 120px;
}

.skills hr, .educat hr, .distinct hr, .publicat hr, 
.resexper hr, .addit hr, .lang hr, .indepcours hr {
	border-top: 1px solid#e67e22;
	width: 120px;
	margin-top: 8px;
}

.col-md-2 ul {
	text-align: left;
	font-size: 16px;
	padding-left: 0px;
}

.col-md-2 h4 {
	font-weight: bold;
	text-align: left;	
}

.col-md-8 h4, .col-md-8 h5, .col-md-8 ul {
	text-align: left;
}

.col-md-3 h4 {
	text-align: right;
}

.disttext   {
	text-align: left;
	padding-left: 90px;
}
.publictext {
	text-align: left;
	padding-left: 120px;
}


.skills h3, .educat h3, .distinct h3, .publicat h3,
.resexper h3, .addit h3, .indepcours h3, .lang h3,
.lang h4 {
	text-align: center;
}

.lang h4 {
	padding-left: 0px;
}

.publictext a, .indepcours a {
	color: #015259;
}

.publictext a:hover, .indepcours a:hover {
	color: #53A6AE;
	text-decoration:none;
	opacity: 0.7;
}

.cv a:hover {
	text-decoration: none;
}

.skills, .distinct, .resexper, .resexper3,
.lang {
	background-color: #fcf6e8;
} 

.resexper2, .resexper4 {
	background-color: #f4f7fe;
}

.fa-stack {
	color: #e67e22;
}


/* Responsive Styling */


@media (max-width: 991px) {

.cv h1 {
	padding-top: 50px;
}
.cv p {
	font-size: 16px;
}
.cv h3 {
	font-size: 23px;
}
.container h3 {
	font-size: 22px;
}
.container h4, .distinct ul {
	font-size: 17px;
}
.skills h4 {
	padding-bottom: 20px;
}
.col-md-2 ul, .col-md-2 h4 {
	text-align: center;
}
.col-md-2 {
	padding-bottom: 40px;
}

.educat h4, .educat h5, .educat2 h4, .educat2 h5 {
	padding-left: 80px;
	max-width: 600px;
	text-align: center;
}

#dates h4 {
	text-align: center;
	padding-left: 80px;
	padding-bottom: 50px;
}
.disttext ul, .disttext {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 45px;
	margin-left: 45px;
	text-align: center;
}
.publictext, .publictext a, .publictext p, .paperlink {
	text-align: center;
	padding-left: 0px;
	margin-left: 45px;
	margin-right: 45px;
}
#resrow h4, .resexper2 h4, .resexper3 h4,
.resexper4 h4 {
	text-align: center;
	padding-left: 0px;
}
.col-md-8 ul {
	padding-left: 0px;
	text-align: center;
}

.addit, .addit h4, .indepcours h4, .indepcours a {
	text-align: center;
	padding-left: 0px;
}
.col-md-8, .col-md-2 h4 {
	text-align: center;
}
#dates1 h4, #dates2 h4, #dates3 h4, #dates4 h4,
#dates5 h4, #dates5, #dates6 h4, #dates6 {
	padding-bottom: 25px;
	padding-top: 5px;
	text-align: center;
	padding-left: 0px;
	margin-right: 0px;
	font-size: 16px;
} 

}

@media (max-width: 767px) {
.cv p {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	font-size: 17px;
	text-align: center;
}
.educat h4, .educat h5, .educat2 h4, .educat2 h5 {
	padding-left: 0px;
	max-width: 600px;
	text-align: center;
}
#dates h4 {
	max-width: 600px;
	text-align: center;
	padding-left: 0px;
	padding-bottom: 50px;
}
.disttext ul, .disttext {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
.disttext, .publictext, .col-md-8 h4, .col-md-8 h5,
.col-md-8 ul {
	margin-left: 45px;
	margin-right: 45px;
}
.col-md-8 h4, .col-md-8 a {
	font-size: 16px;
}

.publictext, .publictext a, .publictext p, .paperlink {
	text-align: center;
	padding-left: 0px;
}
#resrow ul, .resexper3 ul,
.resexper4 ul, .resexper2 h4, 
.resexper3 h4, .resexper4 h4 {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0px;
}

.addit, .addit h4, .indepcours h4, .indepcours a {
	text-align: center;
	padding-left: 0px;
}
.col-md-8, .col-md-2 h4 {
	text-align: center;
}
#dates1 h4, #dates2 h4, #dates3 h4, #dates4 h4,
#dates5 h4, #dates5, #dates6 h4, #dates6 {
	padding-bottom: 10px;
	padding-top: 5px;
	text-align: center;
	padding-left: 0px;
	margin-right: 0px;
	font-size: 16px;
}

.lang h4 {
	padding-left: 0px;
}
}




@media (max-width: 580px) {
.cv {
	padding-top: 5px;
}
.cv p {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 16px;
	text-align: center;
}
.cv h1 {
	font-size: 28px;
}
.cv h3 {
	font-size: 20px;
}
.cv p, .col-md-2 ul, .col-md-2 h4, .col-md-8 h5, 
.col-md-8 h4, .col-md-8 ul, .col-md-8 a, .disttext ul, 
.publictext,.lang h4 {
	font-size: 16px;
}

#dates6 h4, #dates5 h4, #dates4 h4, #dates3 h4, #dates2 h4,
#dates1 h4, #dates h4 {
	font-size: 16px;
}
.educat h4, .educat h5, .educat2 h4, .educat2 h5 {
	padding-left: 0px;
	max-width: 600px;
	text-align: center;
}
.publictext {
	margin-left: 8px;
	margin-right: 8px;
}
#dates h4 {
	max-width: 600px;
	text-align: center;
	padding-left: 0px;
	padding-bottom: 50px;
}
.disttext ul, .disttext {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

.publictext, .publictext a, .publictext p, .paperlink {
	text-align: center;
	padding-left: 0px;
}
#resrow ul, .resexper3 ul,
.resexper4 ul, .resexper2 h4, 
.resexper3 h4, .resexper4 h4 {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 0px;
}

.addit, .addit h4, .indepcours h4, .indepcours a {
	text-align: center;
	padding-left: 0px;
}

#dates1 h4, #dates2 h4, #dates3 h4, #dates4 h4,
#dates5 h4, #dates5, #dates6 h4, #dates6 {
	padding-bottom: 20px;
	padding-top: 5px;
	text-align: center;
	padding-left: 0px;
	margin-right: 0px;
}

.lang h4 {
	padding-left: 0px;
}
}

@media (max-width: 410px) {
.cv h1 {
	font-size: 30px;
}
.cv h3 {
	font-size: 23px;
}
.cv p, .col-md-2 ul, .col-md-2 h4, .col-md-8 h5, 
.col-md-8 h4, .col-md-8 ul, .col-md-8 a, .disttext ul, 
.publictext,.lang h4 {
	font-size: 15px;
}
#dates6 h4, #dates5 h4, #dates4 h4, #dates3 h4, #dates2 h4,
#dates1 h4, #dates h4 {
	font-size: 15px;
}
}

footer {
background-color: #e67e22;
padding-top: 10px;
}





