/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

ul.nav, a.navbar-brand, .container, .col-md-4, .col-md-5,
.contact h1 {

	font-family: 'Arimo', sans-serif, courier;

}

ul.nav, a.navbar-brand  {
font-size: 25px;
	}

.container {
	max-width: 1270px;

}

.contact {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 40px;
}

.continfo {
	padding-top: 120px;
	padding-bottom: 250px;
}

.contact h1  {
	text-align: center;
	color: #e67e22;
}

.message {
	padding-left: 100px; 
}

.col-md-5 p {
	font-size: 20px;
	padding-left: 90px;
}

.col-md-5 a:hover, .pdftext a:hover, .col-md-4 a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.col-md-4 {
font-size: 30px;
padding-left: 40px;
}

.fa-stack {
	color: #e67e22;
}

.fa-ul {
	padding-top: 20px;
}

.continfo {
	background-color: #fcf6e8;
}

/* Responsive Styling */

@media (max-width: 991px) {
.contact h1 {
	padding-top: 30px; 
}
.message {
	padding-left: 280px;
}
.pdftext p {
	padding-left: 260px;
}
.fa-ul {
	padding-top: 40px;
	padding-left: 100px;
}
.continfo {
	padding-top: 50px;
	padding-bottom: 70px;
}
}

@media (max-width: 767px) {
.contact h1, .contact {
	padding-top: 10px;
	padding-bottom: 10px;
}
.message {
	padding-left: 200px;
}
.pdftext p {
	padding-left: 180px;
}
.fa-ul {
	padding-top: 40px;
	padding-left: 30px;
}
.continfo {
	padding-top: 30px;
	padding-bottom: 40px;
}
}

@media (max-width: 580px) {
.contact h1, .contact {
	padding-top: 10px;
	padding-bottom: 10px;
}
.message {
	padding-left: 140px;
}
.pdftext p {
	padding-left: 125px;
}
.fa-ul {
	font-size: 23px;
	padding-top: 40px;
	padding-left: 5px;
}
.continfo {
	padding-top: 30px;
	padding-bottom: 40px;
}
}

@media (max-width: 490px) {
.message {
	padding-left: 45px;
}
.continfo p {
	padding-left: 30px;
	margin-left: 0px;
	text-align: left;
}
.fa-ul {
	padding-left: 0px;
	font-size: 17px;
}
}


footer {
background-color: #e67e22;
padding-top: 10px;
}




